body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
    overflow: hidden;
    background-size: cover;
    font-family: "calibri";
    background: #1e1e1e;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;
}

#gameCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
}